/homework_6/human.protein.fasta.gz
/homework_6/uniprot_sprot_human.xml.gz
/homework_8/Data1.mzXML.gz
/homework_8/Data1.mzXML
/homework_9/proteomics.summary.tsv
/homework_9/anthrax_sasp.nuc
/homework_9/standard_codon
